.usa-button-dismiss {
  // hit area
  height: 44px;
  width: 44px;
  display: inline-block;

  // background
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 15px 15px; 
  background-position: center center;
  background-image: url('../img/x.png');
  background-image: url('../img/x.svg');

  &:hover {
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
  }
}

a.usa-cancel {
  display: inline-block;
  margin-right: 1rem;
}