# Jekyll files and directories
#
/_*
/assets/
/config/

# dist is for npm - src is for git
/src/

# Configuration and scripts
#
.editorconfig
.eslintrc
.scss-lint.yml
.travis.yml
Gemfile
Gemfile.lock
gulpfile.js
.sass-cache/
.bundle/
