.iae-secondary-navigation {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
  width: 100%;

  &.fixed {
    position: fixed;
    top: 0px;
    z-index: 1;
  }

  &.fixed a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  ul {
    @include unstyled-list;
    margin: 0 auto;
  }

  ul li {
    display: inline-block;
  }

  li:nth-of-type(1) a {
    margin-left: 60px;
    font-weight: $font-bold;
  }

  li:nth-of-type(1) a:after {
    content: ":";
  }

  a,
  a:visited {
    display: inline-block;
    padding: 5px;
    color: $color-black;
  }
/*
  .iae-click-nav > a {
    position: relative;
    display: inline-block;
    margin: 12px 5px 5px 0;
    width: 44px;
    height: 44px;
    @include background-image(url('../img/grid-white.svg'), url('../img/grid-white.png'));
    background-color: $iae-color-primary;
    background-size: 22px;
    background-position: center center;
    background-repeat: no-repeat;

    @include media($medium-screen) {
      margin-left: 10px;
      width: 50px;
      height: 50px;
    }
  }

  .iae-click-nav {
    width: 50px;
  }

  .iae-click-nav ul {
    position: absolute;
    z-index: 1000;
    left: -1000px;
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.6);

    li a {
      display: inline-block;
      width: 100%;
      padding: 10px;
    }
  }


  .iae-click-nav:hover ul {
    background-color: $color-white;
    left: 10px;
    top: 90px;

    @include media($medium-screen) {
      left: 20px;
      top: 95px;    
    }    
  }
*/
}

